div { 
    height: 40px;
    width: 40px;
    background-color: darksalmon;
    text-align: center;
    position: absolute;
}

body {
    position: relative;
    margin: 0;
    height: 150vh;
}

#div2 {
    top: 0px;
    right: 0px;
}

#div3 {
    bottom: 0px;
    left: 0 px;
}

#div4 {
    bottom: 0px;
    right: 0px;
}

#center {
    width: 300px;
    height: 100px;
    padding: 20px;
    top: 50%;
    left: 50%;
    position: fixed;
    margin: -70px 0 0 -170px;
}

